In [123]:
import numpy as np
import pandas as pd
from sklearn.utils import shuffle
from collections import Counter
import pickle


import warnings
warnings.filterwarnings('ignore')

import nltk
from nltk import tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [124]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
def clean_data(text):
    text = re.sub(r'\<[^>]*\>', '', text)
    text = re.sub(r'\\n', ' ', text)
    text = re.sub(r'&[a-z]{0,7};', ' ', text)
    text = re.sub(r'\s{2,10}', ' ', text)
    text = re.sub(r'\s{2,10}', ' ', text)
    text = re.sub(r"\\'", r"'", text)
    text = re.sub(r'\\x\d{1,4}', '', text)
    return text

In [0]:
df = pd.read_csv('/content/drive/My Drive/dpl_dataset.csv')
fakes = df[df['label']=='fake']
reals = df[df['label']=='real']

reals.reset_index(drop=True, inplace=True)

# Sentence Level

In [128]:
# drop all that is less than 2 sentences
ids_fdrop = [ind  for ind, el in enumerate(list(fakes['text'])) if len(tokenize.sent_tokenize(el))<2]
ids_rdrop = [ind  for ind, el in  enumerate(list(reals['text'])) if len(tokenize.sent_tokenize(el))<2]
ids_drop = list(set(ids_fdrop + ids_rdrop))
len(ids_drop)

6128

In [129]:
len(ids_fdrop), len(ids_rdrop)

(6125, 4)

In [0]:
fakes.drop(np.array(ids_drop), inplace=True)
reals.drop(np.array(ids_drop), inplace=True)
fakes.reset_index(drop=True, inplace=True)
reals.reset_index(drop=True, inplace=True)

In [131]:
fakes.shape, reals.shape

((253872, 3), (253872, 3))

In [132]:
fakes.head(), reals.head()

(                                                text label     sampling
 0  HAMBURG, Germany, June 3  As he left the socc...  fake  temperature
 1  WASHINGTON, Dec. 23 - The National Security Ag...  fake  temperature
 2  IF outsized executive pay has indeed become a ...  fake  temperature
 3  BY A.J. Miller, Jr.  The three men will make t...  fake  temperature
 4  Spinach has terrorized generations of veggie-p...  fake  temperature,
                                                 text label     sampling
 0  HAMBURG, Germany, June 3  As he left the socc...  real  No sampling
 1  WASHINGTON, Dec. 23 - The National Security Ag...  real  No sampling
 2  IF outsized executive pay has indeed become a ...  real  No sampling
 3  BY A.J. BENZA & MICHAEL LEWITTES If Simon Rex ...  real  No sampling
 4  Spinach has terrorized generations of veggie-p...  real  No sampling)

In [133]:
fakes.tail(), reals.tail()

(                                                     text label sampling
 253867  With a bit of hardware, your iPhone can become...  fake    top_k
 253868  The Centers for Disease Control and Prevention...  fake    top_k
 253869  The number of new HIV infections in the United...  fake    top_k
 253870  AT&T says the throttling will only be temporar...  fake    top_k
 253871  While you're frying up some eggs and bacon, we...  fake    top_k,
                                                      text label     sampling
 253867  With a bit of hardware, your iPhone can become...  real  No sampling
 253868  The Centers for Disease Control and Prevention...  real  No sampling
 253869  The number of new HIV infections in the United...  real  No sampling
 253870  AT&T says the throttling will only be temporar...  real  No sampling
 253871  While you're frying up some eggs and bacon, we...  real  No sampling)

In [0]:
# save only first two sentences

fakes['text'] = fakes['text'].apply(lambda x: ' '.join(tokenize.sent_tokenize(x)[:2]))
reals['text'] = reals['text'].apply(lambda x: ' '.join(tokenize.sent_tokenize(x)[:2]))

In [135]:
fakes.head(), reals.head()

(                                                text label     sampling
 0  HAMBURG, Germany, June 3  As he left the socc...  fake  temperature
 1  WASHINGTON, Dec. 23 - The National Security Ag...  fake  temperature
 2  IF outsized executive pay has indeed become a ...  fake  temperature
 3                                BY A.J. Miller, Jr.  fake  temperature
 4  Spinach has terrorized generations of veggie-p...  fake  temperature,
                                                 text label     sampling
 0  HAMBURG, Germany, June 3  As he left the socc...  real  No sampling
 1  WASHINGTON, Dec. 23 - The National Security Ag...  real  No sampling
 2  IF outsized executive pay has indeed become a ...  real  No sampling
 3  BY A.J. BENZA & MICHAEL LEWITTES If Simon Rex ...  real  No sampling
 4  Spinach has terrorized generations of veggie-p...  real  No sampling)

In [136]:
ids_fdrop = [ind  for ind, el in enumerate(list(fakes['text'])) if len(tokenize.sent_tokenize(el))>2]
ids_rdrop = [ind  for ind, el in  enumerate(list(reals['text'])) if len(tokenize.sent_tokenize(el))>2]
ids_drop = list(set(ids_fdrop + ids_rdrop))
len(ids_drop)

1130

In [0]:
fakes.drop(np.array(ids_drop), inplace=True)
reals.drop(np.array(ids_drop), inplace=True)
fakes.reset_index(drop=True, inplace=True)
reals.reset_index(drop=True, inplace=True)

In [138]:
fakes.head(), reals.head()

(                                                text label     sampling
 0  HAMBURG, Germany, June 3  As he left the socc...  fake  temperature
 1  WASHINGTON, Dec. 23 - The National Security Ag...  fake  temperature
 2  IF outsized executive pay has indeed become a ...  fake  temperature
 3                                BY A.J. Miller, Jr.  fake  temperature
 4  Spinach has terrorized generations of veggie-p...  fake  temperature,
                                                 text label     sampling
 0  HAMBURG, Germany, June 3  As he left the socc...  real  No sampling
 1  WASHINGTON, Dec. 23 - The National Security Ag...  real  No sampling
 2  IF outsized executive pay has indeed become a ...  real  No sampling
 3  BY A.J. BENZA & MICHAEL LEWITTES If Simon Rex ...  real  No sampling
 4  Spinach has terrorized generations of veggie-p...  real  No sampling)

In [139]:
fakes.tail(), reals.tail()

(                                                     text label sampling
 252737  With a bit of hardware, your iPhone can become...  fake    top_k
 252738  The Centers for Disease Control and Prevention...  fake    top_k
 252739  The number of new HIV infections in the United...  fake    top_k
 252740  AT&T says the throttling will only be temporar...  fake    top_k
 252741  While you're frying up some eggs and bacon, we...  fake    top_k,
                                                      text label     sampling
 252737  With a bit of hardware, your iPhone can become...  real  No sampling
 252738  The Centers for Disease Control and Prevention...  real  No sampling
 252739  The number of new HIV infections in the United...  real  No sampling
 252740  AT&T says the throttling will only be temporar...  real  No sampling
 252741  While you're frying up some eggs and bacon, we...  real  No sampling)

In [140]:
f = 0
for el in list(fakes['text']):
    if len(tokenize.sent_tokenize(el)) > 2:
        f +=1
r =0
for el in list(reals['text']):
    if len(tokenize.sent_tokenize(el)) > 2:
        r +=1
f, r

(0, 0)

# Drop duplicates

In [159]:
fakes.describe(), reals.describe()

(                                                     text   label     sampling
 count                                              252742  252742       252742
 unique                                             252420       1            4
 top     Before you go, we thought you'd like these... ...    fake  temperature
 freq                                                   66  252742        88466,
                                                      text   label     sampling
 count                                              252742  252742       252742
 unique                                             241780       1            1
 top     This post is in partnership with Time. The art...    real  No sampling
 freq                                                  139  252742       252742)

In [161]:
fakes.shape, reals.shape

((252742, 3), (252742, 3))

In [0]:
fakes_clean = fakes.drop_duplicates(inplace=False)
reals_clean = reals.drop_duplicates(inplace=False)

In [171]:
fakes_clean.shape, fakes.shape, reals_clean.shape, reals.shape

((252438, 3), (252742, 3), (241780, 3), (252742, 3))

In [173]:
ids_fdrop = [ind for ind in fakes.index if ind not in fakes_clean.index]
ids_rdrop = [ind for ind in reals.index if ind not in reals_clean.index]
ids_drop = list(set(ids_fdrop + ids_rdrop))
len(ids_drop)

11141

In [0]:
fakes.drop(np.array(ids_drop), inplace=True)
reals.drop(np.array(ids_drop), inplace=True)
fakes.reset_index(drop=True, inplace=True)
reals.reset_index(drop=True, inplace=True)

In [175]:
fakes.head(), reals.head()

(                                                text label     sampling
 0  HAMBURG, Germany, June 3  As he left the socc...  fake  temperature
 1  WASHINGTON, Dec. 23 - The National Security Ag...  fake  temperature
 2  IF outsized executive pay has indeed become a ...  fake  temperature
 3                                BY A.J. Miller, Jr.  fake  temperature
 4  Spinach has terrorized generations of veggie-p...  fake  temperature,
                                                 text label     sampling
 0  HAMBURG, Germany, June 3  As he left the socc...  real  No sampling
 1  WASHINGTON, Dec. 23 - The National Security Ag...  real  No sampling
 2  IF outsized executive pay has indeed become a ...  real  No sampling
 3  BY A.J. BENZA & MICHAEL LEWITTES If Simon Rex ...  real  No sampling
 4  Spinach has terrorized generations of veggie-p...  real  No sampling)

In [177]:
fakes.tail(), reals.tail()

(                                                     text label sampling
 241596  With a bit of hardware, your iPhone can become...  fake    top_k
 241597  The Centers for Disease Control and Prevention...  fake    top_k
 241598  The number of new HIV infections in the United...  fake    top_k
 241599  AT&T says the throttling will only be temporar...  fake    top_k
 241600  While you're frying up some eggs and bacon, we...  fake    top_k,
                                                      text label     sampling
 241596  With a bit of hardware, your iPhone can become...  real  No sampling
 241597  The Centers for Disease Control and Prevention...  real  No sampling
 241598  The number of new HIV infections in the United...  real  No sampling
 241599  AT&T says the throttling will only be temporar...  real  No sampling
 241600  While you're frying up some eggs and bacon, we...  real  No sampling)

In [179]:
fakes.describe()

                          text   label     sampling
count                   241601  241601       241601
unique                  241597       1            4
top     Gov. Ted Cruz (R-Tex.)    fake  temperature
freq                         2  241601        81561

In [180]:
reals.describe()

                                                     text   label     sampling
count                                              241601  241601       241601
unique                                             241601       1            1
top     Julie Bishop has joined other senior coalition...    real  No sampling
freq                                                    1  241601       241601

# Counter

In [0]:
fakes_tokens = fakes['text'].apply(lambda x: x.split(' '))
reals_tokens = reals['text'].apply(lambda x: x.split(' '))

fake_split = Counter(x for xs in fakes_tokens for x in set(xs))
real_split = Counter(x for xs in reals_tokens for x in set(xs))

In [192]:
fake_split.most_common(20), real_split.most_common(20)

([('the', 197067),
  ('a', 162881),
  ('of', 154554),
  ('to', 151024),
  ('in', 140403),
  ('and', 137324),
  ('on', 86052),
  ('for', 84453),
  ('The', 82999),
  ('is', 80317),
  ('that', 79060),
  ('with', 62630),
  ('at', 61009),
  ('has', 54200),
  ('was', 53739),
  ('as', 48493),
  ('by', 46480),
  ('from', 46081),
  ('an', 45362),
  ('it', 40069)],
 [('the', 206030),
  ('a', 166010),
  ('of', 163771),
  ('to', 155088),
  ('and', 147112),
  ('in', 146916),
  ('on', 90777),
  ('for', 84313),
  ('is', 75152),
  ('that', 72841),
  ('The', 72285),
  ('with', 61886),
  ('at', 58827),
  ('has', 52543),
  ('was', 50429),
  ('as', 46656),
  ('from', 46236),
  ('by', 45312),
  ('an', 43099),
  ('his', 38417)])

# Shuffle and save

In [0]:
df = pd.concat([fakes, reals], axis=0)
df.reset_index(drop=True, inplace=True)

In [198]:
df.head()

                                                text label     sampling
0  HAMBURG, Germany, June 3  As he left the socc...  fake  temperature
1  WASHINGTON, Dec. 23 - The National Security Ag...  fake  temperature
2  IF outsized executive pay has indeed become a ...  fake  temperature
3                                BY A.J. Miller, Jr.  fake  temperature
4  Spinach has terrorized generations of veggie-p...  fake  temperature

In [199]:
df.tail()

                                                     text label     sampling
483197  With a bit of hardware, your iPhone can become...  real  No sampling
483198  The Centers for Disease Control and Prevention...  real  No sampling
483199  The number of new HIV infections in the United...  real  No sampling
483200  AT&T says the throttling will only be temporar...  real  No sampling
483201  While you're frying up some eggs and bacon, we...  real  No sampling

In [0]:
df = shuffle(df)
df.reset_index(drop=True, inplace=True)

In [204]:
df.head()

                                                text label     sampling
0  The police department in Green Mountain Falls,...  real  No sampling
1  DHAKA, Bangladesh—Islamic State militants stor...  fake      nucleus
2  A few minutes into her visit with plastic surg...  real  No sampling
3  Here is the second item from my "Albany Inside...  real  No sampling
4  Reversing a long and slow stock decline, share...  real  No sampling

In [205]:
df.tail()

                                                     text label     sampling
483197  Before you go, we thought you'd like these... ...  real  No sampling
483198  (CNN) -- When Egypt's first democratically ele...  fake        top_k
483199  These includes incentivising German women to h...  real  No sampling
483200  Worshippers in ponchos of all colors held up f...  fake        top_k
483201  Serena Williams just won her seventh Wimbledon...  real  No sampling

In [0]:
fake = list(fakes['text'])
real = list(reals['text'])

df.to_csv('/content/drive/My Drive/postpoc_dpl_dataset.csv', index=False)

In [0]:
with open('/content/drive/My Drive/fake', 'wb') as fp:
    pickle.dump(fake, fp)

with open('/content/drive/My Drive/real', 'wb') as fp:
    pickle.dump(real, fp)

In [0]:
# with open ('fake', 'rb') as fp:
#     itemlist = pickle.load(fp)